
tr.hilited td,
tr.hilited th {
	background-color: #C1E1EC;
}

input.text, textarea {
	border: solid 1px green;
	padding: 3px;
}
input[type=submit], input[type=button] {
	padding: 5px 16px;
}
input.text:invalid,
textarea:invalid,
.error input,
.error textarea {
	border-color: red;
}

.service-menu ul {
	display: block;
	list-style: none;
	padding: 0;
}
.service-menu li {
	display: inline-block;
}
.service-menu li + li:before {
	content: "|";
	margin: 0 .5em;
}
.service-menu a {

}

ul .scope {
	font-weight: bold;
	color: black;
}
.all-blogs .enabled a.blog {
	color: green;
}
.all-blogs .disabled a.blog {
	color: red;
}

.subscriptions ul {
	list-style: none;
	padding: 0;
}
.subscriptions input:checked + span {
	color: green;
}
.subscriptions input:not(:checked) + span {
	color: red;
}
.subscriptions .active input:not(:checked) + span:after,
.subscriptions .inactive input:checked + span:after {
	content: "<< You changed this one. Don't forget to submit!";
	margin-left: 20px;
	color: orange;
}
